<div>
    <h1>Bienvenido a {{name}}</h1>
    <div>
        {{#each allGames}}
        <h2>{{this.title}}</h2>
        <img src={{this.thumbnails}} alt={{this.title}} width="200vw">
        <p>{{this.description}}</p>
        <h3>{{this.price}} USD</h3>
        {{/each}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
    const socket = io()

</script>