<div>
    <h1>Bienvenido a {{name}}</h1>
    <div>
        {{#each allGames}}
        <h2 id="productName">{{this.title}}</h2>
        <img id="productImg" src={{this.thumbnails}} alt={{this.title}} width="200vw">
        <p id="productDescription">{{this.description}}</p>
        <h3 id="productPrice">{{this.price}} USD</h3>
        <button id="addGame" onclick='addProduct(`{{this.title}}`)'>Add Product</button>
        <button onClick="deleteProduct({{this.title}})">Delete Product</button>
        {{/each}}
    </div>
    <div id="productsList"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
    const socket = io()
    
    




    const addProduct = (title) => {

    socket.on('todosLosProductos',  async (data1) => {
        
        socket.on('productList', (data2) => {
            let findinGame = data2.some(game => game.title === title)

            let searchGame = data1.find(game => game.title === title)

            if(!findinGame){
                let newProduct = { name: searchGame.title, price: searchGame.price }
                console.log('Juego agregado!')
                return socket.emit('addProduct', newProduct)
            }
            else {
                return console.log('Juego existente!')
            }
            

        })

    })
        }

            
    
    
    

</script>